.content-center {
  margin: 0 auto;
  text-align: center;
}
.content-center h1 {
  bottom: 60%;
  color: #4686cc;
  font-size: 80px;
  line-height: 100px;
  font-weight: bold;
}

.content-center .m-b-10 {
  margin-bottom: 10px !important;
}
.content-center .m-b-20 {
  margin-bottom: 20px !important;
}
.content-center .m-t-20 {
  margin-top: 20px !important;
}

blockquote {
  border: 1px solid #b3b3b3;
  border-left: 10px solid #ff5757;
  border-radius: 10px;
  background: #ffffff;
  font-size: 18px;
  margin: 10px;
  padding: 10px 20px;
}

blockquote p {
  margin: 0;
  line-height: 30px;
  padding-bottom: 20px;
}

blockquote .small {
  display: block;
  font-size: 80%;
  color: brown;
  text-align: right;
}

.bg-boxshadow {
  -webkit-box-shadow: 0px 4px 16px 3px rgba(213, 221, 234, 0.5);
  -moz-box-shadow: 0px 4px 16px 3px rgba(213, 221, 234, 0.5);
  box-shadow: 0px 4px 16px 3px rgba(213, 221, 234, 0.5);
}
